<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header header__presentation">

        <%- include('../includes/navigation.ejs') %>

          <div class="header__content">
            <div class="header__name-online">
              <img loading="auto" src="../images/Adam-Home-oneline-v1.png" alt="Java logo"></img>
            </div>

            <div class="header__name-mobile">
              <img loading="auto" src="../images/Adam-Home-mobile-v1.png" alt="Java logo"></img>
            </div>

            <h1 class="presentations__title">
              Admin Content
            </h1>
            <h3 class="presentations__intro">
              < All Presentations and Content can be changed here >
            </h3>
          </div>
      </header>

      <main>

      <section class="presentations presentation__page presentation__admin">
          <div class="admin__title">
            All Presentations >
          </div>

              <% if (conts.length> 0) { %>

                <ul class="presentations__cards presentations__cards--center cards">
                  <% for (let content of conts) { %>
                    <div class="admin__edit">
                      <div class="presentations__card card">
                        <div class="card__content">

                          <div class="card__title">
                            <%= content.title %>
                          </div>

                          <div class="card__text">
                            <p>
                              <%= content.description %>
                            </p>
                          </div>

                          <div class="card__link">
                            <a class="card__link-pdf" href="<%= content.firstLink %>" alt="link to page">
                              <img loading="auto" src="../images/svgs/sprite.svg#<%= content.firstIcon %>" alt="icon image"></img>
                              <%= content.firstLinkText %>
                            </a>

                            <a class="card__link-slides" href="<%= content.secondLink %>" alt="link to page">
                              <img loading="auto" src="../images/svgs/sprite.svg#<%= content.secondIcon %>" alt="icon image"></img>
                              <%= content.secondLinkText %>
                            </a>

                            <a class="card__link-slides" href="<%= content.thirdLink %>" alt="link to page">
                              <img loading="auto" src="../images/svgs/sprite.svg#<%= content.thirdIcon %>" alt="icon image"></img>
                              <%= content.thirdLinkText %>
                            </a>
                          </div>

                        </div>
                      </div>

                      <div class="button button__admin">
                        <form action="/admin/delete-content" method="POST">
                          <input type="hidden" value="<%= content.id %>" name="contentId">
                          <button class="button__btn button__btn--magenta" type='submit'> Delete ></button>
                        </form>

                        <a href="/admin/edit-content/<%= content.id %>?edit=true" class="button__btn button__btn--magenta"> Edit ></a>

                      </div>
                    </div>
                  <% } %>
                </ul>

              <% } else { %>
              <h2>No Presentations Found!</h2>
              <% } %>

                <div class="button">
                  <a class="button__btn button__btn--magenta" href="/presentations" alt="link to Presentations Page" target="_blank" rel="noopener noreferrer"> Presentations Page ></a>
                </div>

      </section>

      <section class="presentations presentation__page presentation__admin">
        <div class="admin__title">
          All Open Source Repositories >
        </div>

        <% if (conts.length> 0) { %>

          <ul class="presentations__cards presentations__cards--center cards">
            <% for (let content of conts) { %>
              <div class="admin__edit">
                <div class="presentations__card card">
                  <div class="card__content">

                    <div class="card__title">
                      <%= content.sourceTitle %>
                    </div>

                    <div class="card__text">
                      <p>
                        <%= content.sourceDescription %>
                      </p>
                    </div>

                    <div class="card__link">
                      <a class="card__link-github" href="<%= content.gitHubLink %>" alt="link to page">
                        <img loading="auto" src="../images/svgs/sprite.svg#<%= content.gitHubIcon %>" alt="icon image"></img>
                        <%= content.gitHubLinkText %>
                      </a>
                    </div>

                  </div>
                </div>

                <div class="button button__admin">
                  <form action="/admin/delete-content" method="POST">
                    <input type="hidden" value="<%= content.id %>" name="contentId">
                    <button class="button__btn button__btn--magenta" type='submit'> Delete ></button>
                  </form>

                  <a href="/admin/edit-content/<%= content.id %>?edit=true" class="button__btn button__btn--magenta"> Edit
                    ></a>

                </div>
              </div>
              <% } %>
          </ul>

          <% } else { %>
            <h2>No Presentations Found!</h2>
            <% } %>

              <div class="button">
                <a class="button__btn button__btn--magenta" href="/opensource" alt="link to Presentations Page"
                  target="_blank" rel="noopener noreferrer"> Open Source Page ></a>
              </div>

      </section>

      </main>

    </div>

    <%- include('../includes/end.ejs') %>
