<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

    <div class="header__title">
      <h1>Add Content</h1>
    </div>

    <main>

      <section class="main-area">

        <div class="header__title">
          <h3>Presentations</h3>
        </div>

        <div class="main-area__form">

          <form class="content-form" action="/admin/<% if (editing) { %>edit-content<% } else { %>add-content<% } %>" method="POST">

            <div class="form-control">
              <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= content.title %><% } %>">
            </div>

            <div class="form-control">
              <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= content.description %><% } %></textarea>
            </div>

            <div class="form-control">
              <label for="firstIcon">Icon</label>
                <label class="form-control__example">(slides-icon, pdf-file-icon or youtube-icon)</label>
                  <input type="text" name="firstIcon" id="firstIcon" value="<% if (editing) { %><%= content.firstIcon %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add full Link</label>
                <input type="text" name="firstLink" id="firstLink" value="<% if (editing) { %><%= content.firstLink %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add a description for link</label>
                <label class="form-control__example">(View >, Download > or Watch >)</label>
              <input type="text" name="firstLinkText" id="firstLinkText" value="<% if (editing) { %><%= content.firstLinkText %><% } %>">
            </div>

            <div class="form-control">
              <label for="secondIcon">Icon</label>
                <label class="form-control__example">(slides-icon, pdf-file-icon or youtube-icon)</label>
                  <input type="text" name="secondIcon" id="secondIcon" value="<% if (editing) { %><%= content.secondIcon %><% } %>">
            </div>

            <div class="form-control">
              <label for="secondLink">Add full Link</label>
                <input type="text" name="secondLink" id="secondLink" value="<% if (editing) { %><%= content.secondLink %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add a description for link</label>
                <label class="form-control__example">(View >, Download > or Watch >)</label>
              <input type="text" name="secondLinkText" id="secondLinkText" value="<% if (editing) { %><%= content.secondLinkText %><% } %>">
            </div>

            <div class="form-control">
              <label for="thirdIcon">Icon</label>
                <label class="form-control__example">(slides-icon, pdf-file-icon or youtube-icon)</label>
                  <input type="text" name="thirdIcon" id="thirdIcon" value="<% if (editing) { %><%= content.thirdIcon %><% } %>">
            </div>

            <div class="form-control">
              <label for="thirdLink">Add full Link</label>
                <input type="text" name="thirdLink" id="thirdLink" value="<% if (editing) { %><%= content.thirdLink %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add a description for link</label>
                <label class="form-control__example">(View >, Download > or Watch >)</label>
                  <input type="text" name="thirdLinkText" id="thirdLinkText" value="<% if (editing) { %><%= content.thirdLinkText %><% } %>">
            </div>

            <% if (editing) { %>
              <input type="hidden" value="<%= content.id %>" name="contentId">
            <% } %>

            <button class="button__btn button__btn--submit" type="submit"><% if (editing) { %>Update Presentation<% } else { %>Add Presentation<% } %></button>
          </form>
        </div>

        <div class="header__title">
          <h3>Open Source Popular Repositories</h3>
        </div>

        <div class="main-area__form">

          <form class="content-form" action="/admin/<% if (editing) { %>edit-content<% } else { %>add-content<% } %>" method="POST">

            <div class="form-control">
              <label for="title">Title</label>
                <input type="text" name="sourceTitle" id="sourceTitle" value="<% if (editing) { %><%= content.sourceTitle %><% } %>">
            </div>

            <div class="form-control">
              <label for="description">Description</label>
                <textarea name="sourceDescription" id="sourceDescription" rows="5"><% if (editing) { %><%= content.sourceDescription %><% } %></textarea>
            </div>

            <div class="form-control">
              <label for="firstIcon">Icon</label>
                <label class="form-control__example">(github)</label>
                  <input type="text" name="gitHubIcon" id="gitHubIcon" value="<% if (editing) { %><%= content.gitHubIcon %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add full Link</label>
                <input type="text" name="firstLink" id="firstLink" value="<% if (editing) { %><%= content.firstLink %><% } %>">
            </div>

            <div class="form-control">
              <label for="firstLink">Add a description for link</label>
                <label class="form-control__example">(View >)</label>
              <input type="text" name="gitHubLink" id="gitHubLink" value="<% if (editing) { %><%= content.gitHubLink %><% } %>">
            </div>

            <% if (editing) { %>
              <input type="hidden" value="<%= content.id %>" name="contentId">
            <% } %>

            <button class="button__btn button__btn--submit" type="submit"><% if (editing) { %>Update Repository<% } else { %>Add Repository<% } %></button>
          </form>
        </div>

      </section>

    </main>

    <%- include('../includes/end.ejs') %>
