<%- include('includes/head.ejs') %>
</head>

<body>
  <div class="wrapper">

    <header class="header">

        <%- include('includes/navigation.ejs') %>

        <div class="header__content">
          <div class="header__name-online">
            <img loading="auto" src="images/Adam-Home-oneline-v1.png" alt="Java logo"></img>
          </div>

          <div class="header__name-mobile header__home-name-mobile">
            <img loading="auto" src="images/Adam-Home-mobile-v1.png" alt="Java logo"></img>
          </div>

          <div class="header__title">
            <h1>Software Developer and Consultant</h1>
          </div>

          <div class="header__intro">
            <p>
              Software developer and Consultant, for Java, Scala, C++ and XQuery.</br>
              Core contributor to eXist-db for the last 13 years.</br>
              Contributor to FaceBook's RocksDB. Digital Archive (UK National Archives).
            </p>
          </div>

          <div class="header__my-space">
            <h2>Any spare time is split between</h2>
            <p>RocksDB > An Open Source Embedded Key/Value database; I contribute mainly to the Java API.</br>
              EXQuery > Launched at XML Prague 2009. Apart from RESTXQ, I am focusing my resources on EXPath
              at the moment, once that reaches a suitable stage, I will continue with EXQuery.</br>
              eXist > An Open Source Native XML Database project; I am one of the core developers.</br>
              W3C XML Query Working Group; I am an invited expert.</br>
            </p>
            <div class="button">
              <a class="button__btn button__btn--magenta" href="/contact.html" alt="link to contact"> GET IN CONTACT ></a>
            </div>

          </div>

          </header>

    <main>

      <%- include('includes/skills.ejs') %>

      <%- include('includes/source.ejs') %>

      <section class="presentations">

        <h1 class="presentations__title">
          Presentations
        </h1>
        <h3 class="presentations__intro">
          < Presentations I’ve given at Conferences and Events>
        </h3>

        <ul class="presentations__cards cards">

          <div class="presentations__card card">
            <div class="card__content">

              <div class="card__title">
                XQuery and XML Databases
              </div>

              <div class="card__text">
                <p>
                  @ XML Summer School 2019,<br>
                  Oxford
                  <br>
                  19th September 2019

                </p>
              </div>

              <div class="card__link">
                <a class="card__link-pdf" href="presentations/xquery-and-xml-databases_xml-summer-school_oxford_20190919.pdf"
                  alt="XML Databases and XQuery" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#pdf-file-icon" alt="pdf file"></img>
                  PDF >
                </a>
                <!-- <a class="card__link-slides" href="https://slides.com/adamretter/database-licensing-chaos-losdbm19/" alt="Database Licensing Chaos (Slides.com)" target="_blank" rel="noopener noreferrer">
                          <img loading="auto" src="images/svgs/sprite.svg#slides-icon" alt="pdf file"></img>
                          Slides >
                        </a> -->
              </div>

            </div>
          </div>

          <div class="presentations__card card">
            <div class="card__content">

              <div class="card__title">
                Database Licensing Chaos<br>
                (PDF)/SLIDES (Slides.com)
              </div>

              <div class="card__text">
                <p>
                  @ London Open Source<br>
                  Database Meetup
                  <br>
                  4th July 2019

                </p>
              </div>

              <div class="card__link">
                <a class="card__link-pdf" href="presentations/database-licensing-chaos_losdbm_20190704.pdf"
                  alt="Database Licensing Chaos (PDF)" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#pdf-file-icon" alt="pdf file"></img>
                  PDF >
                </a>
                <a class="card__link-slides" href="https://slides.com/adamretter/database-licensing-chaos-losdbm19/"
                  alt="Database Licensing Chaos (Slides.com)" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#slides-icon" alt="pdf file"></img>
                  Slides >
                </a>
              </div>
            </div>

          </div>

        </ul>

        <div class="button">
          <a class="button__btn button__btn--magenta" href="/presentations.html"
            alt="all presentations and events">PRESENTATIONS - EVENTS ></a>
        </div>

      </section>

      <%- include('includes/book.ejs') %>
      <%- include('includes/blog.ejs') %>
    </main>

  </div>

<%- include('includes/end.ejs') %>
