<%- include('includes/head.ejs') %>
</head>

<body>
  <div class="wrapper">

    <header class="header">

        <%- include('includes/navigation.ejs') %>

        <div class="header__content">
          <div class="header__name-online">
            <img loading="auto" src="images/Adam-Home-oneline-v1.png" alt="Java logo"></img>
          </div>

          <div class="header__name-mobile header__home-name-mobile">
            <img loading="auto" src="images/Adam-Home-mobile-v1.png" alt="Java logo"></img>
          </div>

          <div class="header__title">
            <h1>Software Developer and Consultant</h1>
          </div>

          <div class="header__intro">
            <p>
              Software developer and Consultant, for Java, Scala, C++ and XQuery.</br>
              Core contributor to eXist-db for the last 13 years.</br>
              Contributor to FaceBook's RocksDB. Digital Archive (UK National Archives).
            </p>
          </div>

          <div class="header__my-space">
            <h2>Any spare time is split between</h2>
            <p>RocksDB > An Open Source Embedded Key/Value database; I contribute mainly to the Java API.</br>
              EXQuery > Launched at XML Prague 2009. Apart from RESTXQ, I am focusing my resources on EXPath
              at the moment, once that reaches a suitable stage, I will continue with EXQuery.</br>
              eXist > An Open Source Native XML Database project; I am one of the core developers.</br>
              W3C XML Query Working Group; I am an invited expert.</br>
            </p>
            <div class="button">
              <a class="button__btn button__btn--magenta" href="/contact.html" alt="link to contact"> GET IN CONTACT ></a>
            </div>

          </div>

    </header>

    <main>

      <%- include('includes/skills.ejs') %>

      <%- include('includes/source.ejs') %>

      <%- include('includes/presentations.ejs') %>

      <%- include('includes/book.ejs') %>

      <%- include('includes/blog.ejs') %>

    </main>

  </div>

<%- include('includes/end.ejs') %>
