<%- include('includes/head.ejs') %>

  </head>

    <body>
      <div class="wrapper">

        <header class="header">

          <%- include('includes/navigation.ejs') %>

            <div class="header__content">
              <div class="header__name-online">
                <img loading="auto" src="images/Adam-Home-oneline-v1-thick.png" alt="Java logo"></img>
              </div>

              <div class="header__name-mobile header__home-name-mobile">
                <img loading="auto" src="images/Adam-Home-mobile-v1-thick.png" alt="Java logo"></img>
              </div>

        </header>

        <main>

          <%- include('includes/source.ejs') %>

          <%- include('includes/book.ejs') %>

          <%- include('includes/blog.ejs') %>

        </main>

      </div>

    <%- include('includes/end.ejs') %>
