<%- include('includes/head.ejs') %>
  </head>

    <body>
      <div class="wrapper">

      <header class="header header__presentation">

          <%- include('includes/navigation.ejs') %>

          <div class="header__content">
            <div class="header__name-online">
              <img loading="auto" src="../images/Adam-Home-oneline-v1-thick.png" alt="Java logo"></img>
            </div>

            <div class="header__name-mobile header__home-name-mobile">
              <img loading="auto" src="../images/Adam-Home-mobile-v1-thick.png" alt="Java logo"></img>
            </div>

            <h1 class="presentations__title">
              Presentations
            </h1>
            <h3 class="presentations__intro">
              < Presentations I’ve given at Conferences and Events>
            </h3>
          </div>
      </header>

        <main>

          <section class="presentations presentation-page">
            <% if (conts.length> 0) { %>
              <ul class="presentations__cards presentations__cards--center cards">
                <% for (let content of conts) { %>
                  <div class="presentations__card card">
                    <div class="card__content">

                      <div class="card__title">
                        <%= content.title %>
                      </div>

                      <div class="card__text">
                        <p>
                          <%= content.description %>
                        </p>
                      </div>

                      <div class="card__link">
                        <a class="card__link-pdf" href="<%= content.firstLink %>" alt="link to page">
                          <img loading="auto" src="../images/svgs/sprite.svg#<%= content.firstIcon %>" alt="icon image"></img>
                            <%= content.firstLinkText %>
                        </a>

                        <a class="card__link-slides" href="<%= content.secondLink %>" alt="link to page">
                          <img loading="auto" src="../images/svgs/sprite.svg#<%= content.secondIcon %>" alt="icon image"></img>
                            <%= content.secondLinkText %>
                        </a>

                      <a class="card__link-slides" href="<%= content.thirdLink %>" alt="link to page">
                        <img loading="auto" src="../images/svgs/sprite.svg#<%= content.thirdIcon %>" alt="icon image"></img>
                          <%= content.thirdLinkText %>
                      </a>
                    </div>

                  </div>
                  </div>
                <% } %>
              </ul>

              <% } else { %>
                <h2>No Presentations Found!</h2>
                <% } %>

                  <div class="button">
                    <a class="button__btn button__btn--magenta"
                    href="/contact" alt="link to contact"> GET IN CONTACT ></a>
                  </div>

          </section>

            <%- include('includes/book.ejs') %>

            <%- include('includes/blog.ejs') %>

        </main>

      </div>

<%- include('includes/end.ejs') %>
