<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header">

        <%- include('includes/navigation.ejs') %>

        <div class="header__content">
          <div class="header__name-online">
            <img loading="auto" src="images/Adam-Home-oneline-v1-thick.png" alt="Java logo"></img>
          </div>

          <div class="header__name-mobile header__home-name-mobile">
            <img loading="auto" src="images/Adam-Home-mobile-v1-thick.png" alt="Java logo"></img>
          </div>

            <h1 class="presentations__title">
              Publications
            </h1>
            <h3 class="presentations__intro">
              < Lorem ipsum >
            </h3>
        </div>

      </header>

      <main>
        <section class="source">

          <ul class="cards">
            <li class="cards__item">
              <div class="source__card card">
                <div class="card__content">
                  <div class="card__title">eXist</div>
                  <p class="card__text">eXist-db is a high-performance open source native XML database —a NoSQL document
                    database and application platform built
                    entirely around XML technologies...
                  </p>
                  <p>Java</p>
                </div>
                <div class="card__link">
                  <a href="#" alt="link to Open Source Page">
                    <svg class="card__icon">
                      <use href="../images/svgs/sprite.svg#github-icon"></use>
                    </svg> | Read More>
                  </a>
                </div>
              </div>
            </li>
            <li class="cards__item">
              <div class="source__card card">
                <div class="card__content">
                  <div class="card__title">JNI Construction Benchmark</div>
                  <p class="card__text">Providing the code for a small benchmark to compare the costs of JNI object
                    creation, and then present the results...
                  </p>
                  <p>Java</p>
                </div>
                <div class="card__link">
                  <a href="#" alt="link to Open Source Page">
                    <svg class="card__icon">
                      <use href="../images/svgs/sprite.svg#github-icon"></use>
                    </svg> | Read More>
                  </a>
                </div>
              </div>
            </li>
            <li class="cards__item">
              <div class="source__card card">
                <div class="card__content">
                  <div class="card__title">BlogXQ </div>
                  <p class="card__text">A simple Blog application written in XQuery 1.0 and XSLT 2.0
                    This currently powers the blog on adamretter.org.uk...
                  </p>
                  <p>JavaScript</p>
                </div>
                <div class="card__link">
                  <a href="#" alt="link to Open Source Page">
                    <svg class="card__icon">
                      <use href="../images/svgs/sprite.svg#github-icon"></use>
                    </svg> | Read More>
                  </a>
                </div>
              </div>
            </li>
          </ul>

          <div class="button">
                <a class="button__btn button__btn--magenta" href="#" alt="link to contact"> GET IN CONTACT ></a>
          </div>

        </section>

          <%- include('includes/book.ejs') %>
          <%- include('includes/blog.ejs') %>
      </main>

    </div>

    <%- include('includes/end.ejs') %>
