<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header">
        <%- include('includes/navigation.ejs') %>

        <div class="header__content">
          <div class="header__name-online">
            <img loading="auto" src="images/Adam-Home-oneline-v1.png" alt="Java logo"></img>
          </div>

          <div class="header__name-mobile">
            <img loading="auto" src="images/Adam-Home-mobile-v1.png" alt="Java logo"></img>
          </div>

            <h1 class="header__title">
              Software
            </h1>
            <div class="header__introsoftware">
              <p>
                I predominantly use Open Source software in my life, both at home and at work.
                It is very rare that I purchase a commercial piece of software, however sometimes there is either no Open Source
                alternative or the commercial option is outstanding and therefore desirable.
                <br>
                This list of software that I have purchased is as much for my own recollection
                as for use by others who may be looking for software options.
              </p>
            </div>
            </div>

            </header>

            <main>
              <section class="software">

                <h1 class="software__title">
                  Purchased Applications
                </h1>

                <h3 class="software__intro">
                  < Software that I need to download and Install>
                </h3>

                <ul class="software__cards cards">

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.apple.com/uk/macos/big-sur/"
                        alt="link to Mac Operating System">
                        <img loading="auto" src="images/svgs/sprite.svg#Apple_logo_white" alt="link to Mac Operating System"></img>
                      </a>

                      <div class="card__title">
                        Mac OS
                      </div>

                      <div class="card__text">
                        <p>
                          I have a MacBook...
                          I want to run OS X on it!
                          <br><br>
                          Why? Wanted/Needed.
                        </p>
                      </div>

                      <div class="card__link">
                        <a href="https://www.apple.com/uk/macos/big-sur/" alt="link to Mac Operating System">Mac Operating System >
                        </a>
                      </div>

                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://macitbetter.com/" alt="link to BetterZip free download">
                        <img loading="auto" src="images/svgs/sprite.svg#zip-icon" alt="link to BetterZip free download"></img>
                      </a>

                      <div class="card__title">
                        BetterZip
                      </div>

                      <div class="card__text">
                        <p>
                          ZIP GUI application for Mac OS X, supports many formats.
                          <br><br>
                          Why? Wanted!
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://macitbetter.com/" alt="link to BetterZip free download"> BetterZip free download >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.sublimetext.com/" alt="link to Sublime Text">
                        <img loading="auto" src="images/svgs/sprite.svg#sublime-text" alt="link to Sublime Text"></img>
                      </a>

                      <div class="card__title">
                        Sublime Text
                      </div>

                      <div class="card__text">
                        <p>
                          A truly excellent Text/Code editor that lets you focus on writing. Runs on all platforms!
                          <br><br>
                          Why? Wanted!
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://www.sublimetext.com/" alt="link to Sublime Text">More about Sublime Text>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software"
                        href="https://support.microsoft.com/en-gb/help/2647609/installing-windows-7-on-your-mac-using-boot-camp"
                        alt="link to Windows 7 for Mac">
                        <img loading="auto" src="images/svgs/sprite.svg#microsoft-icon" alt="link to Windows 7 for Mac"></img>
                      </a>

                      <div class="card__title">
                        Windows 7 and XP
                      </div>

                      <div class="card__text">
                        <p>
                          I have clients who are using them, I run these inside VirtualBoxes
                          on my Mac.
                          <br><br>
                          Why? regrettably needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://support.microsoft.com/en-gb/help/2647609/installing-windows-7-on-your-mac-using-boot-camp"
                          alt="link to Windows 7 for Mac">Windows 7 for Mac >
                        </a>
                      </div>
                    </div>
                  </div>

                </ul>

              </section>

              <section class="software">

                <h1 class="software__title">
                  Software as a Service
                </h1>

                <h3 class="software__intro">
                  < Online Applications that I pay monthly or annually for access to>
                </h3>

                <ul class="software__cards cards">

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://slides.com" alt="link to Slides Home Page">
                        <img loading="auto" src="images/svgs/sprite.svg#slides-icon" alt="link to Slides Home Page"></img>
                      </a>

                      <div class="card__title">
                        Slides
                      </div>

                      <div class="card__text">
                        <p>
                          A lovely application providing HTML, CSS and JavaScript (Reveal.js) but without manually coding it.
                          <br><br>
                          Why? Better that the rest!
                        </p>
                      </div>

                      <div class="card__link">
                        <a href="https://slides.com" alt="link to Slides Home Page"> Read More About Slides >
                        </a>
                      </div>

                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.lucidchart.com" alt="link to Lucidchart Free Sign Up">
                        <img loading="auto" src="images/svgs/sprite.svg#Lucid-icon" alt="link to Lucidchart Free Sign Up"></img>
                      </a>

                      <div class="card__title">
                        Lucidchart
                      </div>

                      <div class="card__text">
                        <p>
                          It is very convenient to have it Online as it keeps your charts. Works when disconnected from the Web.
                          <br><br>
                          Why? Needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://www.lucidchart.com" alt="link to Lucidchart Free Sign Up"> Free Sign Up >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="images/svgs/sprite.svg#prey" alt="link to Prey home page">
                        <img loading="auto" src="images/svgs/sprite.svg#prey-icon" alt="link to Prey home page"></img>
                      </a>

                      <div class="card__title">
                        Prey
                      </div>

                      <div class="card__text">
                        <p>
                          Whilst they have an free option, I have a few devices I want to keep safe.
                          <br><br>
                          Why? Needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://preyproject.com/" alt="link to Prey home page"> Read More >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.skype.com/en/" alt="link to Skype home page">
                        <img loading="auto" src="images/svgs/sprite.svg#Skype-logo" alt="link to Skype home page"></img>
                      </a>

                      <div class="card__title">
                        Skype
                      </div>

                      <div class="card__text">
                        <p>
                          I use their Online Number and World Calling options for W3C tele conf's .
                          <br><br>
                          Why? Needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://www.skype.com/en/" alt="link to Skype home page"> Create a free video call >
                        </a>
                      </div>
                    </div>
                  </div>

                </ul>

              </section>

              <section class="software">

                <h1 class="software__title">
                  Donated Software
                </h1>

                <h3 class="software__intro">
                  < Software that I have been given free licenses for due to my role as an Open Source developer. <br>Free stuff
                    deserves a thank-you >
                </h3>

                <ul class="software__cards cards">

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.aquafold.com/" alt="link to Aquafold Start for free">
                        <img loading="auto" src="images/svgs/sprite.svg#aquafold-icon" alt="link to Aquafold Start for free"></img>
                      </a>

                      <div class="card__title">
                        Aquafold
                      </div>

                      <div class="card__text">
                        <p>
                          An excellent multi-platform, multi-RDBMS IDE.
                          <br><br>
                          Why? Needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="#" alt="link to Aquafold Start for free"> Aquafold Start for free >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="software__card card">
                    <div class="card__content">

                      <a class="card__link-software" href="https://www.oxygenxml.com/" alt="link to Oxygen Home Page">
                        <img loading="auto" src="images/svgs/sprite.svg#Oxygen-icon" alt="link to Oxygen Home Page"></img>
                      </a>

                      <div class="card__title">
                        Oxygen
                      </div>

                      <div class="card__text">
                        <p>
                          In my opinion it is the best XML tool on the market, even if I
                          did get it for free!.
                          <br><br>
                          Why? Needed.
                        </p>
                      </div>
                      <div class="card__link">
                        <a href="https://www.oxygenxml.com/" alt="link to Oxygen Home Page"> Discover More About Oxygen >
                        </a>
                      </div>
                    </div>
                  </div>

                </ul>

              </section>

              <div class="button">
                <a class="button__btn button__btn--magenta" href="#" alt="link to contact"> GET IN CONTACT ></a>
              </div>


        <%- include('includes/book.ejs') %>
        <%- include('includes/blog.ejs') %>
      </main>

    </div>

    <%- include('includes/end.ejs') %>
